:root {
 
  --border-radius: 12px;
  --logo-color: #1069b9;
  --bg-secondary: #F3F5F6;
  --bg-primary: #4c9c93;
  --text-dark: #040407;
  --shapes-dark: #09090A;
  --text-dark-2: #09090c;
  --delete-color: #DE3838; 
  --light-blue: #ADD8E6;
  --shapes: #DCE2E6;
  --secondary-text: #090e11;
  --border-color: #000000;
  --success-color: #156bb6;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
